<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body id="page-top">

    {% extends "user/header.html"%}
    {% block content%}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- 404 Error Text -->
                    <div class="text-center">
                        <div class="error mx-auto" data-text="500">500</div>
                        <p class="lead text-gray-800 mb-5">Internal Server Error</p>
                        <p class="text-gray-500 mb-0">{{ error }}</p>
                        <a href="{{ url_for('udashboard')}}">&larr; Back to Dashboard</a>
                    </div>

                </div>
                <!-- /.container-fluid -->


   <!-- Bootstrap core JavaScript-->
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/static/js/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/static/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/static/js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="chart-area-demo.js"></script>
  <script src="chart-pie-demo.js"></script>

  {% endblock %}
</body>

</html>