<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>GP Auction - Login</title>

  <!-- Custom fonts for this template-->
  <link href="{{ url_for('static', filename='user/fontawesome-free/css/all.min.css')}} " rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href=" {{ url_for('static', filename='user/css/sb-admin-2.min.css')}} " rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
          <div class="col-lg-6">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Please Login!</h1>
              </div>
              <form class="user" action="#" method="post">
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" name="login_email" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control form-control-user" name="login_password" placeholder="Password">
                </div>
                <div class="form-group">
                  <div class="custom-control custom-checkbox small">
                    <input type="checkbox" class="custom-control-input" id="customCheck">
                    <label class="custom-control-label" for="customCheck">Remember Me</label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block" >Login</button>
              </form>

              {% for category, message in get_flashed_messages(with_categories=True) %}
              <br>
              <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times</span>
                </button>
                <p>{{message}}</p>
              </div>
              {% endfor %}

              <div class="text-center">
                <a class="small" href=" {{ url_for('uforgotpass') }}">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" href="{{ url_for('uregister')}}">Create an Account!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="user/js/jquery.min.js"></script>
  <script src="user/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="user/js/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="user/js/sb-admin-2.min.js"></script>

</body>

</html>
