<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>GP Auction - Register</title>

  <!-- Custom fonts for this template-->
  <link href=" {{ url_for( 'static', filename='user/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename='user/css/sb-admin-2.min.css')}} " rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>
              <form class="user needs-validation" action="#" method="post" name="sentMessage" id="contactForm" >
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" name="user_fname" placeholder="First Name" required>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" name="user_lname" placeholder="Last Name" required>
                  </div>
                </div>
				<div class="form-group">
                  <input type="phone" class="form-control form-control-user" name="user_phone" placeholder="Phone Number(WhatsApp)" required>
                </div>
				<div class="form-group">
                  <input type="email" class="form-control form-control-user" name="user_email" placeholder="Email Address" required>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control form-control-user" name="user_pass1" placeholder="Password" required>
                  </div>
                  <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user" name="user_pass2" placeholder="Repeat Password" required>
                  </div>
                </div>
				<div class="form-group">
                </div>
				<!-- Radio Payment Selection -->
				<div class="custom-control custom-radio">
  					<input type="radio" class="custom-control-input" id="defaultChecked" name="payment_category" value="mpesa" required>
					<label class="custom-control-label" for="defaultChecked">MPESA</label>
				</div>
				<br>

                 <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" name="mpesa_owner" placeholder="MPESA Owner's Name" required>
                  </div>
                  <div class="col-sm-6">
                    <input type="phone" class="form-control form-control-user" name="mpesa_number" placeholder="MPESA Number" required>
                  </div>
                </div>

                <button type="submit" class="btn btn-primary btn-user btn-block" >Register Account</button>
              </form>

              {% for category, message in get_flashed_messages(with_categories=True) %}
              <br>
              <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times</span>
              </button>
              <p>{{message}}</p>
              </div>
              {% endfor %}

              <div class="text-center">
                <a class="small" href="{{ url_for('ulogin') }}">Already have an account? Login!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="user/js/jquery.min.js"></script>
  <script src="user/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="user/js/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="user/js/sb-admin-2.min.js"></script>

</body>

</html>
